<!--<div id="<%#= dom_id team %>">-->
<!--  <p class="my-5">-->
<!--    <strong class="block font-medium mb-1">Name:</strong>-->
    <%#= team.name %>
<!--  </p>-->

  <%# if action_name != "show" %>
    <%#= link_to "Show this team", team, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this team', edit_team_path(team), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
<!--    <hr class="mt-6">-->
  <%# end %>
<!--</div>-->
<li>
  <%= link_to team, class: "block hover:bg-gray-50" do %>
    <div class="flex items-center px-4 py-4 sm:px-6">
      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <div class="flex text-sm">
            <p class="font-medium text-cyan-600"><%= team.name %></p>
          </div>
          <div class="overflow-hidden truncate mt-2 flex">
            <div class="flex items-center text-sm text-gray-500">
              <!-- Heroicon name: mini/calendar -->
              <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
              </svg>
              <p>Created on <%= team.last_created_formatted %>
              </p>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div>
            <p class="mt-2 text-sm text-gray-500">
              <span class="mr-2">Owner</span>
              <%= image_tag team.owner.gravatar_url, class: "inline-block h-12 w-12 rounded-full ring-2 ring-white" %>
            </p>
          </div>
        </div>
        <div class="max-w-xl mt-4 flex-shrink-0 sm:mt-0 sm:ml-5">
          <div class="flex -space-x-1 overflow-hidden">
            <% team.users.each do |user| %>
              <%= image_tag user.gravatar_url, class: "inline-block h-6 w-6 rounded-full ring-2 ring-white" %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="ml-5 flex-shrink-0">
        <!-- Heroicon name: mini/chevron-right -->
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  <% end %>
</li>