<%= form_with(model: tally) do |form| %>
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Add a note</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Describe what this particular tally was for</p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Parent Category Name</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @tally.category.name %></dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Tally Updated</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= @tally.last_updated_formatted %></dd>
        </div>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Tally Note</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= form.text_field :notes, placeholder: "Add your note", class: "block w-full min-w-0 flex-1 rounded-md border-gray-300 focus:border-cyan-500 focus:ring-cyan-500 sm:text-sm" %>
          </dd>
        </div>
<!--        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-6">-->
<!--          <dt class="text-sm font-medium text-gray-500">Created by</dt>-->
<!--          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%#= @tally.category.user_id %></dd>-->
<!--        </div>-->
      </dl>
    </div>
  </div>

  <div class="flex justify-end mt-10">
    <%= form.submit "Save", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-cyan-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-offset-2"%>
  </div>


<% end %>